#!/usr/bin/env ruby

# filter :erb

ignore '/external/**/*'

compile '/**/*.html' do
  layout '/default.*'
  filter :erb
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
